@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Srbija-sans';
    src: url('/fonts/srbija-sans.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body,
html {
    width: 100%;
    /* overflow-x: hidden; */
    background-color: #f8f9fa;
}

:root {
    --main-font: "Roboto", sans-serif;
    --logo-font: "Srbija-san", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    /* padding: 0 100px; */
    font-family: var(--main-font);
    /* padding-bottom: 100px; */
}

header {
    padding: 0px 25px;
    background-color: #a7d8fd;
    display: flex;
    justify-content: space-between;
}

.no-select {
    user-select: none;
}

.logo-and-nav {
    display: flex;
}

.logo,
.logo-m {
    font-family: var(--logo-font);
    color: #2D3142;
    font-size: 30px;
    margin-right: 15px;
    font-weight: 800;
    transition: .15s;
}

.logo:hover {
    transition: .15s;
    color: #1e202c;
}

.logo-m {
    display: none;
}

.nav-icons {
    display: flex;
    align-items: center
}


.nav-icon {
    cursor: pointer;
    padding: 8px 0px 7px 0;
    font-size: 17px;
    font-weight: 600;
    margin-right: 15px;
}

.nav-icon.active {
    /* background-color: #2ea4ff; */
    border-bottom: black 3px solid;
}


.nav-icon:hover {
    border-bottom: black 3px solid;
    /* background-color: #62bafd; */
}

/* .nav-icon.active:hover {
    background-color: #2ea4ff;
} */




.user-panel {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.login-btn {
    cursor: pointer;
    padding: 6px 15px;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #7998b1;
    border-radius: 5px;
    /* transition: .15s; */
    /* color: white; */
    /* background-color: #007BFF; */
}

.login-btn:hover {
    color: #A30B37;
    border: 2px solid #69859b;
    /* background-color: #0056b3; */
    /* transition: .15s; */
}

.user-wrapper {
    /* position: relative; */
    display: inline-block;
}

.user-email {
    font-weight: 500;
}

.logout-wrapper {
    position: absolute;
    top: 100%;
    display: none;
    background: rgb(61, 61, 61);
    width: 100%;
    padding: 10px 0px;
    border: black 2px solid;
    border-radius: 3px;
}

.user-panel:hover .logout-wrapper {
    display: block;
}

.logout-btn {
    background: rgb(61, 61, 61);
    color: white;
    display: block;
    /* padding: 6px 24px; */
    width: 100%;
    padding: 3px 5px;
    white-space: nowrap;
    transition: background 0.1s;
}

.logout-btn:hover {
    color: rgb(254, 154, 154);
    background: rgb(103, 80, 80);

}

@media (max-width: 768px) {
    .logo {
        display: none;
    }

    .logo-m {
        display: block;
    }

    /* header {
        padding: 0 5px;
    } */
}

@media (max-width: 440px) {


    .logo-m {
        display: none;
    }

    header {
        padding: 0;
    }

    .nav-icon {
        display: flex;
        cursor: pointer;
        padding: 16px;
        font-size: 15px;
        transition: .2s;
    }

    .user-email {
        font-weight: 400;
        font-size: 15px;
        width: 10px;
        overflow: hidden;
    }

    .user-panel {
        padding-right: 5px;
    }

    .login-btn {
        padding: 5px 15px;
    }


}




.edit-btn {
    margin-top: 20px;
    padding: 15px 25px;
    background-color: lightskyblue;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.edit-btn:hover {
    background-color: deepskyblue;
    color: white;
}

.add-btn {
    margin-top: 20px;
    padding: 15px 25px;
    background-color: rgb(93, 177, 131);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.add-btn:hover {
    background-color: mediumseagreen;
    color: white;
}